<div class="row featurette">
  <div class="col-md-12">
    <h2 class="featurette-heading">MindMup For Google Hangouts<span class="text-muted">&nbsp;online collaboration for creative people</span></h2>
  </div>
  <div class="col-md-6">
    <p class="lead">
    Online mind mapping tools so far focused on mapping features first, then
    built collaboration on top of that. The result was clunky and severely
    limited. People can work on a map simultaneously in almost any good mind
    mapping tool now, but conversation part is far below what our users expect.
    Chat systems are non existing or severely limited, there is no way to see
    collaborators faces or talk to them directly. For effective collaboration,
    groups had had to set up a separate video or audio channel using Skype or
    Hangouts. Synchronising participants across two different channels, setting
    up resource permissions and managing presence just becomes a headache.
    Jumping out of the mind map to a screen share to discuss a presentation is
    a hassle. No more! Instead of building collaboration on top of a mind
    mapping tool, MindMup for Hangouts puts mind mapping capabilities into one
    of the best collaboration systems out there!
    </p>
    <p class="lead">
    MindMup for Hangouts is trivially easy to get stared with. It brings all
    the goodness of MindMup, and removes all the hassle associated with
    managing collaboration over two different channels. Lightning-fast idea
    capture on keyboard? Check! See what your collaborators are doing? Check!
    Shift-space to set colours? Check! See people's faces as you discuss ideas? Check!
    Global access? Check! Waste time setting up privileges and document
    sharing? Of course not, it's done for you. Jump out to a screen share or a
    presentation? Just click on another tab in Hangouts!
    </p>
  </div>
  <div class="col-md-6">
    <img class="featurette-image img-responsive" src="<%=settings.cdn_host%>atlas/atlas-big.jpg">
  </div>
  <div class="col-md-12">
    <p><%=erb :version_buttons%></p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row">
  <div class="col-md-12">
    <h2>Free, unlimited collaboration</h2>
  </div>
  <div class="col-md-12">
    <p>
    Concurrent updates across the globe instantly visible to your collaborators.

    A map stays associated with the hangout, so you can leave at any time and come back, and your ideas will wait for you. 

    Free as in beer. No limits imposed on the number of hangouts or people you can involve.  
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>High-bandwidth brainstorming and idea review</h2>
  </div>
  <div class="col-md-6">
    <p>
    Great collaboration needs more than just concurrent updates. To really benefit from a group mind-mapping session, people
    need to know what everyone else is thinking as well. With MindMup for Hangouts, we're coming as close to a physical presence as possible,
    by allowing you to hear and see collaborators, but also enssuring that you know what everyone else is doing around the map.
    </p>    
    <p>
    As people are moving around the map, you can see their profile photos move and follow their thoughts. When your colleagues
    add new ideas or update map nodes, you'll get a quick overview with pop-up speech bubbles. This ambiental information makes
    groupwork much more powerful than just remote simultaneous document editing. 
    <p>
    <p>
    MindMup for Hangouts uses the same mind mapping canvas as the main MindMup app, but simplified to fit in with the high-bandwidth
    communication provided by Hangouts. We removed all the noise so you can focus on your ideas, not on toolbars and menus. 
    Use powerful keyboard shortcuts
    to capture ideas quickly, or access common node operations from the convenient spider menu in the top-right corner. 
    </p>
  </div>
</div>


<hr class="featurette-divider">

<div class="row">
  <div class="col-md-6">
    <h2>Great for schools</h2>
    <p>All map data is in the Google Hangout, and images are uploaded and loaded from Google Drive, so 
    you don't have to worry about any privacy concerns or compliance requirements.</p>
    <p>No special set-up requirements, everything works out of the box. No need to define a saving location for the data,
    to ensure that all the students have the right version of software on their machines, that the right 
    access privileges are configured.</p>
  </div>
  <div class="col-md-6">
    <img class="featurette-image img-responsive" src="<%=settings.cdn_host%>atlas/atlas-social.png">
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>Great for teams</h2>
    <p>Run planning sessions, visualise progress on collaborative activities and keep a track of your projects
    without having to maintain separate privilege lists. Just invite people to a hangout, and that's it. </p>
  </div>
  <div class="col-md-6">
    <img class="featurette-image img-responsive" src="<%=settings.cdn_host%>atlas/atlas-social.png">
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>Great for ad-hoc planning</h2>
    <p>If you start just with a voice call, but need to visulise a more complex idea, no need to jump out into a different tool any more,
    send separate invitations and coordinate updates. Just tap the MindMup app icon in the Hangouts toolbar and you're all set!</p>
  </div>
  <div class="col-md-6">
    <img class="featurette-image img-responsive" src="<%=settings.cdn_host%>atlas/atlas-social.png">
  </div>
</div>




<div class="row">
  <div class="col-md-6">
    <h2>Export maps to polish and extend them with other MindMup apps</h2>
  </div>
  <div class="col-md-6">
    <p>
    Once you're done with the collaboration and want to print the map, or need extra features of MindMup storyboards or measurements, just transfer
    it from a hangout to your Google Drive, and open in the regular MindMup app. You can also download it and continue working offline in the MindMup Desktop App,
    or send to your IPad and continue working in MindMup for IOS.
    </p>
    <p>If you'd like to publish the results of your work to the world using social networks or host publicly on a web site without requiring 
    people to sign into Hangouts, just use MindMup Atlas</p>
  </div>
</div>
