
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Resources for journalists and bloggers</h2>
          <p class="lead">
          Are you writing an article or blog post about MindMup? We'd like to help! Here are
          some nice images that you can use freely, as well as the crucial information and links.
          </p>
          <ul>
            <li><a href="#images">Logos and screnshots</a></li>
            <li><a href="#facts">Key facts</a></li>
            <li><a href="#links">Key links and resources</a></li>
            <li><a href="#reviews">What others are saying</a></li>
          </ul>
          <p class="lead">If you need help with fact-checking, additional resources, or anything else to help you 
          write the best article, please get in touch</p>
            <p><a class="btn btn-lg btn-success" href="mailto:contact@mindmup.com">Talk to us »</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="<%=settings.static_host%>/press-resources/press_750.png"/>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12">
          <h2>Free Images</h2><a name="images"></a>
          <p>Feel free to download the images or link to them directly from your articles. They are served from our CDN.</p>
        </div>
      </div>
      <div class="row featurette">

       <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="<%=settings.static_host%>/press-resources/logo_256.png" style="max-height:240px" alt="mindmup logo">
            <div class="caption">
              <h3>MindMup Logo</h3>
              <p>Just the blue spider logo, without any additonal text</p>
              <ul>
                <li><a target="_blank" href="<%=settings.static_host%>/press-resources/logo_256.png" role="button">256x256 PNG</a></li>
                <li><a target="_blank" href="<%=settings.static_host%>/press-resources/logo.svg" role="button">Vector SVG</a></li>
              </ul>
            </div>
          </div>
        </div>

       <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="<%=settings.static_host%>/press-resources/promo-440x280.png" alt="mindmup promo">
            <div class="caption">
              <h3>Promo Images</h3>
            <p>The blue spider, along with some basic promotional text and a mind map in the background. We use these images
            for blog headers and app store listings</p>
            <ul>
              <li>
              <a target="_blank" href="<%=settings.static_host%>/press-resources/promo-440x280.png" >Small</a></li>
              <li> <a target="_blank" href="<%=settings.static_host%>/press-resources/promo-868x350.png">Medium</a></li>
              <li><a target="_blank" href="<%=settings.static_host%>/press-resources/promo-1252x626.png">Large</a></li>
            </ul>
            </div>
          </div>
        </div>
       <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="<%=settings.static_host%>/press-resources/screenshot_progress.png" style="border: 2px solid black" alt="mindmup screenshots">
            <div class="caption">
              <h3>Screenshots</h3>
              <p>MindMup in action. See the <strong>MindMup is Great For</strong> top menu 
              on this page for more info on individual features.</p>
            <ul>
              <li><a target="_blank" href="<%=settings.static_host%>/press-resources/simple_map.png" >A simple mind map</a></li>
              <li><a target="_blank" href="<%=settings.static_host%>/press-resources/screenshot_open_cloud.png" >Various cloud storage options</a></li>
              <li><a target="_blank" href="<%=settings.static_host%>/press-resources/screenshot_measurements.png" >Measurements on maps</a></li>
              <li><a target="_blank" href="<%=settings.static_host%>/press-resources/screenshot_progress.png">Progress management</a></li>
              <li><a target="_blank" href="<%=settings.static_host%>/press-resources/screenshot_storyboards.png">Storyboards</a></li>
              <li><a target="_blank" href="<%=settings.static_host%>/press-resources/screenshot_export_to_ppt.png">Export to powerpoint</a></li>
            </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-6"><a name="facts"></a>
          <h2>Key Facts</h2>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-12">

<dl class="dl-horizontal">
  <dt>Usage statistics</dt>
  <dd>As of 11 November 2014, according to Google Analytics, MindMup.com was used by a bit more than 1M unique users, 
   with roughly 140K unique users during the last calendar month and the average session duration of 34 minutes.</dd>
  <dt>Cost</dt>
  <dd>MindMup is free to use, and the source code is opensource. The service offered through MindMup.com is also free (no account needed) but some exports are limited to 100 KB for anonymous users, to prevent abuse of our server resources. <a href="/mindmup-gold">MindMup Gold</a> subscription removes
  size restrictions for exports, and costs $2.99 per month. Saving documents to Google Drive, Dropbox and Github is not affected by size restrictions, and the users do not need to have a Gold subscription to save their maps to those services. </a></dd>
  <dt>Copyright and license</dt>
  <dd>The source code for MindMup is opensource, <a href="http://github.com/mindmup">published on Github</a>. MindMup copyright legally belongs to Sauf Pompiers Ltd, a UK-based company the three original authors created to operate Mindmup.com. </dd>
  <dt>Origins</dt>
  <dd>Damjan Vujnovic, David de Florinier and Gojko Adzic started MindMup in January 2013 to create a free and open alternative to commercial mind mapping cloud services, and the three main drivers of the project are creating a frictionless interface, productivity and community-driven development.</dd>
  <dt>Development statistics</dt>
  <dd>From January 2013 to 22nd September 2014, there were 475 deployments of MindMup source code to production. MindMup.com is mostly written in JavaScript (10581 lines of code as of September 2014) and the server runs in Ruby (405 lines of code as of September 2014).</dd>
</dl>

        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-6"><a name="links"></a>
          <h2>Key Links and Resources</h2>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-12">
<dl class="dl-horizontal">
  <dt>Main web application</dt>
  <dd>Use <a href="https://www.mindmup.com">https://www.mindmup.com</a> to point readers to the main web application where
  they will be able to create a new map. Don't just copy the URL from the web interface, because that will typically 
  contain a token for the temporary map you are working on. Send them to the root of the mindmup.com application, so they
  can create a new map on their own</dd>
  <dt>Offline application</dt>
  <dd>MindMup is also available as an offline application, reading files from the local disk. Almost all online functionality is
  supported in the offline version as well (obviously, without cloud storage options). To point readers to the download page for the
  offline application, send them to the <a target="_blank" href="https://chrome.google.com/webstore/detail/mindmup-desktop-free-mind/eealagocaipaflcjmeapmobpmilffopi">Chrome Web Store listing for MindMup Desktop</a>.</dd>
  <dt>Google Apps</dt>
  <dd>MindMup can be installed as a Google App, which is useful for Google Apps for Education users or companies that want to 
  allow easy access to all their users. If you'd like to point readers to more info about that, use the <a target="_blank" href="https://chrome.google.com/webstore/detail/mindmup-free-mind-map-web/dnenaecjcgeppfpaokiifokeieopppej">Chrome Web Store listing for the MindMup Web App</a></dd>
  <dt>Example map</dt>
  <dd>
  If you'd like to point readers to a more realistic map they can immediately play with, use 
  <a target="_blank" href="https://www.mindmup.com/#m:b/gojkomonthly/MindMup%20-%20Zero%20friction%20free%20online%20mind%20mapping.mup">this link</a>.
  This is the map used in the <b>Simple Map</b> screenshot.  </a></dd>
  <dt>Documentation</dt>
  <dd>Use <a target="_blank" href="http://discover.mindmup.com/">http://discover.mindmup.com</a> to point readers to more information about MindMup - the main site allows them to directly create a map, but isn't too nice as a landing page.
  If you'd like to send readers some place where they can continue investigating the application instead of using it directly, the Discover MindMup site is the right place. </dd>
  <dt>Social networks</dt>
  <dd>MindMup is community driven and we engage with users frequently on social networks to drive future development. If you're targetting a particular social network and want to allow
  readers to better engage with us, consider linking directly to our feeds or pages on <a href="https://twitter.com/mindmup">Twitter</a>, <a href="http://facebook.com/mindmupapp">Facebook</a> and <a href="https://plus.google.com/communities/112831595986131146219">Google+</a>.</dd>
  <dt>Source Code</dt>
  <dd>MindMup source code is on Github. Use <a target="_blank" href="http://github.com/mindmup">http://github.com/mindmup</a> to point to the main repository containing all the libraries.</dd>
</dl>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-12">
          <a name="reviews"></a>
          <h2>What others are saying</h2>
          <p>Here are some selected MindMup reviews in press and blogs. They might be helpful for further research. </p>
          <ul>
            <li><a target="_blank" rel="nofollow" href="http://www.pcworld.com/article/2032818/review-mindmup-is-a-free-effortless-way-to-create-mind-maps-in-moments.html">PC World</a></li>
            <li><a target="_blank" rel="nofollow" href="http://lifehacker.com/mindmup-maps-your-brain-in-the-browser-614853279">LifeHacker</a></li>
            <li><a target="_blank" rel="nofollow" href="http://www.mind-mapping.org/blog/2013/11/mindmup-browser-based-free-easy-and-open-source/">Mind-Mapping.org</a></li>
            <li><a target="_blank" rel="nofollow" href="http://mindmappingsoftwareblog.com/mindmup-video-review/">MindMapping Software Blog</a></li>
            <li><a target="_blank" rel="nofollow" href="http://www.independent.ie/business/technology/reviews/tech-insider-reviews-of-the-weeks-best-technology-30326838.html">The Independent - Tech Insider column</a></li>
            <li><a target="_blank" rel="nofollow" href="http://timemanagementninja.com/links/app-of-the-week-mindmup/">Time Management Ninja</a></li>
            <li><a target="_blank" rel="nofollow" href="http://www.makeuseof.com/tag/try-mindmup-mind-mapping-via-google-drive/">Make Use Of</a></li>
            <li><a target="_blank" rel="nofollow" href="http://drprem.com/review/create-mind-map-mindmup-review">Dr Prem</a></li>
            <li><a target="_blank" rel="nofollow" href="http://swrightboucher.wordpress.com/2013/11/26/be-more-creative-think-better/">Plugged In Recruiter Blog</a></li>
            <li><a target="_blank" rel="nofollow" href="http://www.betterproductivityblog.com/free-your-mind-mindmap-with-mindmup/">Better Productivity Blog</a></li>
            <li><a target="_blank" rel="nofollow" href="http://www.freetech4teachers.com/2013/06/mindmup-mind-mapping-tool-that-save-to.html#.VB925yuSxWw">Free Tech Four Teachers</a></li>
            <li><a target="_blank" rel="nofollow" href="http://www.edidaktik.dk/en/mindmup-i-undervisningen.html">Edidaktik</a></li>
            <li><a target="_blank" rel="nofollow" href="http://www.thetechjonsey.com/mindmup-a-review/">The Tech Jonsey</a></li>
            <li><a target="_blank" rel="nofollow" href="http://outilscollaboratifs.com/2013/07/mindmup-outil-de-mind-mapping-collaboratif/">Les Outils Collaboratifs</a></li>
          </ul>
        </div>
      </div>
